body
{
    min-height: 100%;
    display: grid;
    place-content: center;
    background: #000;
}

h1
{
    font-size: clamp(2rem,15vw,10rem);
    color:lime;
    filter: drop-shadow(0 0 2px lime);
}





